-#  Copyright (c) 2019, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito_dsj and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_dsj.

= render_attrs(entry, :contact_number, :salutation, :salutation_addition, :financial_support)
-# = render_attrs(entry, :political_party, :current_secondary_appointment)
= field_set_tag do
  - if event.show_contact_attr?(:contact_number)
    = f.labeled_input_field :contact_number
  - if event.show_contact_attr?(:salutation)
    = f.labeled_collection_select :salutation, Salutation.available, :first, :last, { include_blank: "" }, class: 'form-select form-select-sm'
  - if event.show_contact_attr?(:salutation_addition)
    = f.labeled_input_field :salutation_addition

= field_set_tag do
  - [:political_party, :current_secondary_appointment].each do |a|
    = f.labeled_input_field(a) if event.show_contact_attr?(a)
